.:53 {
    hosts {{ coredns_config_dir }}/hosts {
        ttl 60
        reload 15s
        fallthrough
    }

    forward . {% for dns in upstream_dns %}{{ dns }}{% if not loop.last %} {% endif %}{% endfor %} {
        policy sequential
        health_check 5s
    }

    cache 300
    log
    errors
}

# postgres.proxmox.local — served from etcd, updated by Patroni on failover
postgres.proxmox.local:53 {
    etcd {
        path /coredns
        endpoint {% for ep in coredns_etcd_endpoints %}{{ ep }}{% if not loop.last %} {% endif %}{% endfor %}

        fallthrough
    }
    cache 5
    log
    errors
}
