hostname: {{ harbor_hostname }}

http:
  port: {{ harbor_http_port }}

harbor_admin_password: {{ vault_harbor_admin_password }}

external_database:
  harbor:
    host: {{ harbor_db_host }}
    port: {{ harbor_db_port }}
    db_name: {{ harbor_db_name }}
    username: {{ harbor_db_user }}
    password: {{ vault_harbor_db_password }}
    ssl_mode: disable
    max_idle_conns: 2
    max_open_conns: 0

external_redis:
  host: {{ harbor_redis_host }}:{{ harbor_redis_port }}
  password: {{ vault_harbor_redis_password }}
  registry_db_index: 1
  jobservice_db_index: 2
  trivy_db_index: 5
  idle_timeout_seconds: 30

data_volume: {{ harbor_data_dir }}

trivy:
  ignore_unfixed: false
  skip_update: false
  offline_scan: false
  security_check: vuln

jobservice:
  max_job_workers: 10
  job_loggers:
    - STD_OUTPUT
    - FILE
  logger_sweeper_duration: 1

notification:
  webhook_job_max_retry: 3
  webhook_job_http_client_timeout: 3

log:
  level: info
  local:
    rotate_count: 50
    rotate_size: 200m
    location: /var/log/harbor

_version: 2.12.0

proxy:
  http_proxy:
  https_proxy:
  no_proxy:
  components:
    - core
    - jobservice
    - trivy

upload_purging:
  enabled: true
  age: 168h
  interval: 24h
  dryrun: false

cache:
  enabled: false
  expire_hours: 24
