ETCD_NAME={{ inventory_hostname }}
ETCD_DATA_DIR=/var/lib/etcd
ETCD_LISTEN_PEER_URLS=http://{{ ansible_host }}:2380
ETCD_LISTEN_CLIENT_URLS=http://{{ ansible_host }}:2379,http://127.0.0.1:2379
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ ansible_host }}:2380
ETCD_ADVERTISE_CLIENT_URLS=http://{{ ansible_host }}:2379
ETCD_INITIAL_CLUSTER={{ etcd_nodes | dict2items | map(attribute='key') | zip(etcd_nodes | dict2items | map(attribute='value')) | map('join', '=http://') | map('regex_replace', '$', ':2380') | join(',') }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_cluster_state | default('new') }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_cluster_name }}
ETCD_ENABLE_V2=false
