[defaults]
inventory          = 02-k3s/inventory/hosts.yml
roles_path         = 02-k3s/roles
remote_user        = ubuntu
private_key_file   = ~/.ssh/rmarquesa
host_key_checking  = False
interpreter_python = /usr/bin/python3
stdout_callback    = yaml
callbacks_enabled  = profile_tasks

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyJump=root@192.168.1.60 -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=10
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
